body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.app-frame {
    margin: 5%;
    padding: 30px;
    width: calc(80vw);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fafafa)
    );
}
.customer-actions {
    background: #eaeaea;
    padding: 10px;
    margin: 10px;
}
.customer-actions button {
    background: white;
    min-width: 100px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.customer-actions button:hover {
    background: #f0f0f0;
}
.customers-list {
    margin-bottom: 30px;
}
.customers-list .customers-list-item {
    width: 100%;
    background: #fff;
    transition: 500ms;
    height: 40px;
}
.customers-list .customers-list-item:nth-child(even) {
    background: #cfcfcf;
}

.customers-list-item .field {
    width: 160px;
    margin: 1px;
    padding: 4px;
    overflow: hidden;
    display: inline-block;
    line-height: 40px;
}
.customers-list-item .field:first-child {
    width: 70%;
    margin: 0;
    box-sizing: border-box;
}

.customers-list-item .field {
    width: 15%;
    margin: 0;
    box-sizing: border-box;
}

.customers-list-item .field:first-child > a {
    color: #222;
    text-decoration: none;
    font-weight: bolder;
}

.customers-list-item .field a {
    color: #666;
    text-decoration: none;
}
